@model IEnumerable<ContosoUniversity.Models.Department>
@{
    ViewBag.Title = "Departments";
}
<h2>Senarai Belian</h2>
<p>
    @Html.ActionLink("Create New", "Create") |

    @Html.ActionLink("Export to Excel", "Export") |

    @Html.ActionLink("Export Claim", "ExportClaim") |
</p>
<table class="table">
    <tr>
        <th>
           TARIKH
        </th>
        <th>
            NAMA PENUAL
        </th>
        <th>
           NOMBOR LESEN / PAT-G
        </th>
        <th>
            KEBENARAN BERTULIS
        </th>
        <th>
            RESIT RASMI
        </th>
        <th>
            SKRAP
        </th>
        <th>
           LATEKS
        </th>
        <th>
            LAIN-LAIN
        </th>
        <th>
            KG
        </th>
        <th>
            HARGA SEKILO
        </th>
        <th>
            JUMLAH DIBAYAR
        </th>
        
       
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.OfficeAssignment.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KebenaranBertulis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResitRasmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skrap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lateks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
           

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
            </td>
        </tr>
    }
</table>